#wrapper {
    width: 1000px;
    margin: 0 auto;
}
#image, #title, .item {
    display:block;
    border: 1px solid black;
    border-radius: 15px;
}
#title, .item {
    float: right;
    background-color: #DDD;
    width: 650px;
    margin-bottom: 15px;
    padding: 10px;
}
#image {
    float: left;
    margin: 0 10px 10px 0;
    max-width:300px;
}
#title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 0px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}
a:visited{
    color: darkblue;
}
.duration {
    display:inline;
}
.desc {
    margin-top: 10px;
    clear: left;
}
.url{
    margin-right: 5px;
    font-size: 2em;
    font-weight: bold;
}